<div class= "container"> 
      <table class="responsive-table highlight">
        <thead>
          <tr>
              <th>Movie</th>
              <th>Description</th> 
          </tr>
        </thead>
        <tbody>
         {{#each movies }} 
          <tr>
            <td>{{ this.title }}</td>
            <td> {{ this.description }} </td> 
            <td>
                 <a href="/movies/edit/{{ this.id }}">
                    <i class="material-icons">border_color</i>
                 </a>
            </td>
            <td>
               <a href="/movies/delete/{{ this.id }}?_method=DELETE"> 
                 <i class="material-icons">delete</i>     
               </a>         
            </td>
          </tr>
            
         {{/each}}
         </tbody>
      </table>
</div>      
            

