<div class= "container"> 
    <nav>
        <div class="nav-wrapper">
          <a href="#!" class="brand-logo">CRUD</a>
          <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
          <ul class="right hide-on-med-and-down">
            <li><a href="/add">Add New</a></li>       
          </ul>
        </div>
      </nav>

      <ul class="sidenav" id="mobile-demo">
        <li><a href="/add">Add New</a></li>
    </ul>
</div>